
<!-- IF SCRIPT_NAME == "search" -->

	<script type="text/javascript">

		var isTopics = window.location.href.indexOf("sr=topics&sf=firstpost");
		var isEgosearch = window.location.href.indexOf("id=egosearch");

 		if( isTopics > -1 && isEgosearch > -1 ) {
			document.getElementById('page-body').getElementsByClassName("searchresults-title")[0].innerHTML ="{L_USER_TOPICS_FROM_LINKS}";
		} else if( isTopics > -1 && isEgosearch == -1 ) {

			if ( !document.getElementById('page-body').getElementsByClassName("list-inner")[1] ) {
				document.getElementById('page-body').getElementsByClassName("searchresults-title")[0].innerHTML ="{L_USER_TOPICS_HAVE_NO}";
			} else {				document.getElementById('page-body').getElementsByClassName("searchresults-title")[0].innerHTML ="{L_USER_TOPICS_MINIPROFILE_TEXT} {USERNAME_TOPICS_SEARCH}";
			}
		}

	</script>

<!-- ENDIF -->
